body{
    background-color: #f5cac3;
}
.container{
    margin: auto;
    margin-top: 200px;
    width: 500px;
    height: 400px;
    text-align: center;
    position: relative;
    background-color: #f7ede2;
    padding: 50px;
    /* border-radius: 20px; */
}
.quote{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: lighter;
}
.author{
    font-size: 20px;
}
.next{
    position: absolute;
    top: 450px;
    right: 10px;
    width: 180px;
    height: 40px;
    transition-duration: 0.3s;
    font-size: 15px;
    border-color: #e8998d;
}
.next:hover{
    background-color: #e8998d;

}
h4{
    position: absolute;
    top: 440px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
#author-filter{
    position: absolute;
    top: 450px;
    left: 100px;
    width: 180px;
    height: 40px;
    transition-duration: 0.3s;
    font-size: 15px;
    border-color: #e8998d;
}



